<!DOCTYPE html>

<!-- Comentário -->

<html> <!--Tag HTML-->

    <head><!-- Tag Head -> Responsável por receber configurações da página-->
        <meta charset="UTF-8">        
        <title>Casa Criativa</title>


        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="style.css">

    </head>

    <body>

        <div id="container">

            <section id="intro">
                
                        <header>

                            <img src="Casa Criativa.png" alt="Imagem da Logomarca">

                        </header>

                        <main>
                            <p>

                                Em meio à pandemia do novo coronavírus pelo mundo,
                                uma das grandes dúvidas está na diferença entre quarentena e isolamento. 
                            </p>         
                                       
                            <p>  
                                   De acordo com a Portaria <strong>356/3020 </strong> do Ministério da Saúde, 
                                a quarentena tem como objetivo garantir a manutenção dos serviços de saúde
                                em local certo ou determinado.
                            </p>    


                        </main>

                        <section id="buttons"> 

                            <button onclick="onOff()">+ Adicionar Idéia</button>
                            <a href=/ideias class ="button">Ver idéias</a>

                        </section>
                        
                        <footer id="footer"> Com ❤ <a href="https://www.google.com.br" target="_blank">Google</a> 

                        </footer>                    
                        

                
                        <script src="/script.js"></script>


            </section>

            <section id="last-ideias">

                {% include "all_ideas.html"%}

             </section>


        </div>

        {% include "modal.html"%}
        
    </body>


</html>